In [1]:
##MovieLens data consists of data about the movies from 1995 to 1997
##This data set consists of data seperated by tab
##This data set also consists of datafor training the machine learning algorithms

##Part-1 importing data and converting from txt to csv

import pandas as pd
#cleaning genre file
read_file = pd.read_csv ('/Users/sindhu/Documents/movielens_data/u_genre.txt', sep='|')
read_file.columns=['genre','genre_number']
print(read_file)
read_file.to_csv (r'/Users/sindhu/Documents/movielens_data/u_genre.csv', index=None)

          genre  genre_number
0        Action             1
1     Adventure             2
2     Animation             3
3    Children's             4
4        Comedy             5
5         Crime             6
6   Documentary             7
7         Drama             8
8       Fantasy             9
9     Film-Noir            10
10       Horror            11
11      Musical            12
12      Mystery            13
13      Romance            14
14       Sci-Fi            15
15     Thriller            16
16          War            17
17      Western            18

In [43]:
#cleaning occupation file
read_file = pd.read_csv ('/Users/sindhu/Documents/movielens_data/u_occupation.txt', sep='|',header=None)
read_file.columns=['Occupation']
print(read_file)
read_file.to_csv (r'/Users/sindhu/Documents/movielens_data/u_occupation.csv', index=None)

       Occupation
0   administrator
1          artist
2          doctor
3        educator
4        engineer
5   entertainment
6       executive
7      healthcare
8       homemaker
9          lawyer
10      librarian
11      marketing
12           none
13          other
14     programmer
15        retired
16       salesman
17      scientist
18        student
19     technician
20         writer

In [49]:
# #cleaning data file
read_file = pd.read_csv ('/Users/sindhu/Documents/movielens_data/u_data.txt', sep='\t',header=None)
read_file.columns=['user_id','item_id','rating','timestamp']
print(read_file)
read_file.to_csv (r'/Users/sindhu/Documents/movielens_data/u_data.csv', index=None)

       user_id  item_id  rating  timestamp
0          196      242       3  881250949
1          186      302       3  891717742
2           22      377       1  878887116
3          244       51       2  880606923
4          166      346       1  886397596
...        ...      ...     ...        ...
99995      880      476       3  880175444
99996      716      204       5  879795543
99997      276     1090       1  874795795
99998       13      225       2  882399156
99999       12      203       3  879959583

[100000 rows x 4 columns]

In [54]:
#cleaning info file
read_file = pd.read_csv ('/Users/sindhu/Documents/movielens_data/u_info.txt', sep=' ', header=None)
read_file.columns=['Total_count','attribute']
print(read_file)
read_file.to_csv (r'/Users/sindhu/Documents/movielens_data/u_info.csv', index=None)

   Total_count attribute
0          943     users
1         1682     items
2       100000   ratings

In [69]:
#cleaning item file
read_file = pd.read_csv ('/Users/sindhu/Documents/movielens_data/u_item.txt', sep='|',encoding='latin-1',header=None)
read_file.columns=['movie_id', 'movie_title', 'release_date', 'video_release_date','IMDb_URL','unknown','Action', 'Adventure' ,'Animation',
              'Childrens' , 'Comedy' , 'Crime' ,'Documentary' , 'Drama' , 'Fantasy' ,
              'Film_Noir' , 'Horror' , 'Musical' , 'Mystery' , 'Romance' , 'Sci_Fi' ,
              'Thriller' , 'War' , 'Western' ]
print(read_file)
read_file.to_csv (r'/Users/sindhu/Documents/movielens_data/u_item.csv',index=None)

      movie_id                                movie_title release_date  \
0            1                           Toy Story (1995)  01-Jan-1995
1            2                           GoldenEye (1995)  01-Jan-1995
2            3                          Four Rooms (1995)  01-Jan-1995
3            4                          Get Shorty (1995)  01-Jan-1995
4            5                             Copycat (1995)  01-Jan-1995
...        ...                                        ...          ...
1677      1678                          Mat' i syn (1997)  06-Feb-1998
1678      1679                           B. Monkey (1998)  06-Feb-1998
1679      1680                       Sliding Doors (1998)  01-Jan-1998
1680      1681                        You So Crazy (1994)  01-Jan-1994
1681      1682  Scream of Stone (Schrei aus Stein) (1991)  08-Mar-1996

      video_release_date                                           IMDb_URL  \
0                    NaN  http://us.imdb.com/M/title-exact?Toy%20Story%2...
1                    NaN  http://us.imdb.com/M/title-exact?GoldenEye%20(...
2                    NaN  http://us.imdb.com/M/title-exact?Four%20Rooms%...
3                    NaN  http://us.imdb.com/M/title-exact?Get%20Shorty%...
4                    NaN  http://us.imdb.com/M/title-exact?Copycat%20(1995)
...                  ...                                                ...
1677                 NaN  http://us.imdb.com/M/title-exact?Mat%27+i+syn+...
1678                 NaN  http://us.imdb.com/M/title-exact?B%2E+Monkey+(...
1679                 NaN      http://us.imdb.com/Title?Sliding+Doors+(1998)
1680                 NaN  http://us.imdb.com/M/title-exact?You%20So%20Cr...
1681                 NaN  http://us.imdb.com/M/title-exact?Schrei%20aus%...

      unknown  Action  Adventure  Animation  Childrens  ...  Fantasy  \
0           0       0          0          1          1  ...        0
1           0       1          1          0          0  ...        0
2           0       0          0          0          0  ...        0
3           0       1          0          0          0  ...        0
4           0       0          0          0          0  ...        0
...       ...     ...        ...        ...        ...  ...      ...
1677        0       0          0          0          0  ...        0
1678        0       0          0          0          0  ...        0
1679        0       0          0          0          0  ...        0
1680        0       0          0          0          0  ...        0
1681        0       0          0          0          0  ...        0

      Film_Noir  Horror  Musical  Mystery  Romance  Sci_Fi  Thriller  War  \
0             0       0        0        0        0       0         0    0
1             0       0        0        0        0       0         1    0
2             0       0        0        0        0       0         1    0
3             0       0        0        0        0       0         0    0
4             0       0        0        0        0       0         1    0
...         ...     ...      ...      ...      ...     ...       ...  ...
1677          0       0        0        0        0       0         0    0
1678          0       0        0        0        1       0         1    0
1679          0       0        0        0        1       0         0    0
1680          0       0        0        0        0       0         0    0
1681          0       0        0        0        0       0         0    0

      Western
0           0
1           0
2           0
3           0
4           0
...       ...
1677        0
1678        0
1679        0
1680        0
1681        0

[1682 rows x 24 columns]

In [60]:
#cleaning user file
read_file = pd.read_csv ('/Users/sindhu/Documents/movielens_data/u_user.txt', sep='|',header=None)
read_file.columns=['user_id','age','gender','Occupation','zip_code']
print(read_file)
read_file.to_csv (r'/Users/sindhu/Documents/movielens_data/u_user.csv', index=None)

     user_id  age gender     Occupation zip_code
0          1   24      M     technician    85711
1          2   53      F          other    94043
2          3   23      M         writer    32067
3          4   24      M     technician    43537
4          5   33      F          other    15213
..       ...  ...    ...            ...      ...
938      939   26      F        student    33319
939      940   32      M  administrator    02215
940      941   20      M        student    97229
941      942   48      F      librarian    78209
942      943   22      M        student    77841

[943 rows x 5 columns]